@color: #fa6400;

.sidebar-panel {

  width: 320px;
  background-color: #f7f7f7;
  z-index: 9;
  display: none;
  height: 100%;
 
  &-view {
    width: 100%;
    display: flex;
    flex-direction: column;
   
  }
  &-edit {
    box-shadow: 5px 0 10px -5px #ddd;
    overflow: hidden;
    width: 560px;
    position: absolute;
    z-index: 1000;
    bottom: 26px;
    left: 271px;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    &-open {
      display: block;
    }
  }

  &-open {
    display: flex;
  }

  &-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 50px;
    height: 50px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: text;
  }
  &-header {
    background-color: #f7f7f7;
    justify-content: space-between;

    .icon {
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      &:hover {
        color: @color;
      }
    }
    &__title {
      font-size: 14px;
      font-weight: 666;
      height: 49px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
    }
    &__sub-title {
      font-size: 14px;
      font-weight: 666;
      color: #333;
      height: 100%;
      line-height: 200%;
      min-width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #f7f7f7;
      padding: 0 10px;
      margin-bottom: -2px;
    }
    &__toolbar {
      padding: 0 10px 0 6px;
      height: 26px;
      display: flex;
      justify-content: space-between;
      background-color: #fafafa;
      align-items: center;
    }
  }
}

.sidebar-panel-content {
  padding: 0 12px 12px ;
  overflow-y: auto;
  height: calc(100% - 32px);
  font-size: 12px;

  &-title {
    height: 32px;
    line-height: 32px;
    background-color: #f7f7f7;
    margin: 0 -12px;
    padding: 0 12px;
    margin-bottom: 12px;
  }
  .param-item {
    display: flex;
    width: 100%;
    align-items: baseline;
    &-actions {
      margin-left: 12px;
      :global {
        .anticon {
          &:hover {
            color: @color;
          }
        }
      }
    }
  }
}

.sidebar-panel-list {
  display: flex;
  width: 100%;
  overflow-y: auto;
  flex: 1;
  flex-direction: column;
  &-item {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    padding: 0 3px;
    position: relative;
    cursor: pointer;
    & > div {
      &:first-child {
        display: flex;
        justify-content: space-between;
      }
    }
    &.active {
      background-color: rgba(247, 247, 247, 0.4);
    }
    &__name {
      display: inline-block;
      color: #aaa;
      padding-right: 3px;
      text-align: right;
      flex: 0 0 55px;
    }
    &__content {
      flex: 1;
      word-break: break-all;
    }
    &__param {
      display: flex;
      margin-bottom: 4px;
      font-size: 12px;
      padding: 0 6px;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    &__expand {
      background-color: #fff;
      padding: 5px;
      border-bottom: 1px solid #ccc;
    }
    &__copy {
      user-select: text;
      &:hover {
        color: #fa6400;
      }
    }
    &:hover {
      background-color: #f1f1f1;
    }
    .icon {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.85);
      display: flex;
      align-items: center;
      svg {
        max-width: 12px;
      }
    }
    .iconExpand {
      transform: rotate(90deg);
      transition: 0.1s;
    }
    .tag {
      padding: 0 2px;
      color: @color;
      flex: 0 0 35px;
      cursor: pointer;
      &__no-address {
        color: rgba(255, 0, 0, 0.8);
      }
    }
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__left {
      padding: 12px 0 12px 4px;
      display: flex;
      min-width: 130px;
      flex: 1;
      &--tag {
        display: none;
        position: absolute;
        right: 20px;
        top: -14px;
        transform: scale(0.8);
      }
    }

    &__right {
      display: flex;
      flex: 0 0 58px;
      align-items: center;
      justify-content: space-between;
      padding-right: 4px;
      .action {
        display: flex;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.85);

        &:hover {
          color: @color;
        }
      }
    }
  }
}

.sidebar-panel-code {
  position: relative;
  font-size: 12px;

  &-icon {
    position: absolute;
    top: 36px;
    right: 6px;
    z-index: 1;
    cursor: pointer;

    &-full {
      position: fixed;
      top: 48px;
      right: 50px;
      z-index: 10;
      cursor: pointer;
    }
  }

  &-full {
    position: fixed;
    z-index: 9;
    padding: 40px 42px 26px;
    background-color: rgba(0, 0, 0, 0.45);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    :global {
      .monaco-editor {
        padding-top: 16px;
      }
    }
  }
}

.sidebar-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 346px;
  z-index: 1000;
  height: 100%;
}

.doc-link {
  cursor: pointer;
}

.ct {
  padding: 0 6px 0;
  border-radius: 6px;
  border: 1px solid #eee;
  margin-bottom: 12px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.chose {
  border-bottom-color: transparent;
  box-shadow: 0 0 6px 2px #ddd;
  pointer-events: none;

  &:hover {
    background-color: transparent;
  }
}